/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

#logo {
    position: relative;
    left: 80px;
    top: 35px;
}

#Delicious {
    position: relative;
    left: 130px;
    bottom: 40px;
}

#best {
    position: relative;
    left: 130px;
    bottom: 65px;
}

#icons {
    position: relative;
    left: 800px;
    bottom: 130px;
}

#two-icons {
    position: relative;
    left: 980px;
    bottom: 100px;
}

.instructions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

