 body {
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 #wrap {
    width: 900px;
 }

 #header-left {
     display: flex;
}

#header-left-logo {
    width: 42px;
    height: 45px;
}

#header-left-text {
    display: flex;
    flex-direction: column;
}

#Delicious {
    margin: 0px;
    
}

#best {
    margin: 0px;
}


#icons {
    display: flex;
    margin-left: 700px;
    
}

#two-icons {
    display: flex;
    margin-left: 850px;
    margin-bottom: -23px;
}

#date-posted {
    margin-top: -20px;
}

#print {
    display: flex;
    margin-left: 830px;
    margin-bottom: -30px;
}
#print-text {
    display: flex;
    margin-left: 850px;
    color: gray;
}

.container {
    background-image: url(../assets/list-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

.container-side {
    width: 10rem;
}






button {
    display: flex;
    margin-left: 700px;
}